@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@200&display=swap');

.main {
  height: 100%;
  display: grid;
  color: white;
}

#root {
  height: 100%;
}

html {
  min-height: 100%;
  background-color:rgb(232, 240, 255);
}

.search-bar {
  justify-content: center;
  align-items: center;
  display: inline-grid;
  margin-top: 40vh;
}

.search-input {
  width: 55vw;
  height: 8vh;
}

.search-input .MuiOutlinedInput-input {
  height: 8vh;
}

.search-input .MuiOutlinedInput-root {
  height: 8vh;
  font-size: calc(max(3vh, 1.25rem));
  border-radius: 10px 0 0 10px;
  background-color: white;
}

.search-button {
  height: 8vh;
  width: 5vw;
  border-radius: 0 10px 10px 0 !important;
  background-color: white !important;
}

.link-container {
  margin-top: 5vh;
  color: rgb(85, 85, 85);
  font-size: calc(max(3vh, 1.25rem));
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  opacity: 0;
}

.link-appear {
  animation: animate 2s;
  margin-top: 5vh;
  color: rgb(85, 85, 85);
  font-size: calc(max(3vh, 1.25rem));
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.header-title {
  color: rgb(85, 85, 85);
  font-size: calc(max(3vh, 1.25rem));
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 1rem 0 1rem 1rem;
}

.header-bar {
  background-color: rgb(252, 251, 251) !important;
}

@keyframes animate {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@-webkit-keyframes animate {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}